<h1 class="text-danger">Series#new</h1>
<p class="text-danger-emphasis">Ingresar Serie Nueva</p>

<%= form_with model: @serie, method: :post do |form| %>
    <div class="col-4">
        <div class="text-success">
            <%= form.label :title, "Nombre serie" , class: "form-label" %>
                <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="text-success">
            <%= form.label :content, "Sinopsis" , class: "form-label" %>
                <%= form.text_field :synopsis, class: "form-control" %>
        </div>
        <div class="text-success">
            <%= form.label :title, "Nombre director" , class: "form-label" %>
                <%= form.text_field :director, class: "form-control" %>
        </div>
        <div>
            <%= form.submit "Submit" , class: "btn btn-success" %>
        </div>
    </div>
    <% end %>
